.header-logo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.header-text {
  font-family: cursive;
  font-weight: 800;
  font-size: 30px;
  padding-left: 1rem;
  background: linear-gradient(to right, #f20e06, #de5281, #8c63d3, #3f81b7, #26c6da, #4cb751, #e6f544, #faae33, #f05d30);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-newpost {
  height: 30px;
  padding-right: 1rem;
  padding-top: 1.5rem;
}

form {
  margin: 20px;
  padding: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

form div {
  margin-bottom: 10px;
}

.form-input1 {
  width: 800px;
  height: 50px;
  padding: 8px;
  border: none;
  font-size: 40px;
}

.form-input1::-webkit-input-placeholder {
  font-size: 30px;
}

.form-input1:focus {
  border: none;
  outline: none;
}

.form-input2 {
  width: 800px;
  height: 100px;
  border: none;
  padding: 8px;
  font-size: 20px;
}

.form-input20 {
  width: 90%;
  max-width: 800px; 
  height: 100px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 10px;
}

.form-input2::-webkit-input-placeholder {
  font-size: 30px;
}

.form-input2:focus {
  border: none;
  outline: none;
}

.form-input20:focus {
  border: 1px solid gray;
  outline: none;
}

.form-input3 {
  width: 800px;
  height: 50px;
  padding: 8px;
  border: none;
  font-size: 30px;
}

.form-input3::-webkit-input-placeholder {
  font-size: 30px;
}

.form-input3:focus {
  border: none;
  outline: none;
}

.submit-button {
  height: 40px;
  margin-top: 1px;
  background-color: #5ce8d3;
  border: none;
  border-radius: 10px;
  color: snow;
  margin-left: 1000px;
  cursor: pointer;
}
.submit-button1 {
  height: 40px;
  margin-top: 1px;
  background-color: rgb(30, 183, 197);
  border: none;
  border-radius: 10px;
  color: snow;
  margin-left: 400px;
  cursor: pointer;
}
.outlist {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  border-right: 1px solid rgb(224, 223, 223);
}

.list {
  max-width: 700px;
  border-bottom: 1px solid rgb(224, 223, 223);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 0;
  color: black;
}

.list-desc {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 100;
}

.list-date {
  font-size: 15px;
  margin-left: 10px;
  font-weight: 100;
}

.list1 {
  text-decoration: none;
  color: inherit;
}

.post-detail {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 200px;
  margin-right: 200px;
}

.post-elements {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.post-header {}

.post-description {}

.post-likecom {
  display: flex;
  justify-content: space-between;
}

.post-like {
  padding-right: 3rem;
  display: flex;
  justify-content: center;
}

.post-like-icon {
  width: 20px;
  height: 50px;
  padding-right: 0.5rem;
}

.post-comment-image {
  width: 20px;
  height: 20px;
  padding-top: 15px;
  padding-right: 5px;
  cursor: pointer;
}

.post-comment-input {
  width: 1000px;
  border: none;
  height: 100px;
}

.post-comment-overview {
  position: fixed;
  top: 0;
  right: -33.33%; /* Start off-screen */
  width: 33.33%; 
  height: 100%;
  background: white;
  transition: right 0.5s ease;
  z-index: 1000;
  overflow-y: auto; /* Enable vertical scrolling */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
}

.post-comment-overview.visible {
  right: 0;
}

.post-comment-details {
  position: relative;
}

.close-button {
  background: none;
  border: none;
  color: black; 
  font-size: 20px; 
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.comments-section {
  padding: 20px;
}

.comment {
  margin-bottom: 20px;
}
.format-button{
  margin-left: 10px;
  cursor: pointer;
}